<%- include('./header.ejs')  %>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Blogs</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/styles.css" rel="stylesheet">
  </head>

  <body>
    
    <section class="blog-list mtb-40">
      <div class="container">
        <h1>Blog List</h1>
        <div class="row">
          <% b.forEach((item)=>{ %>
            <div class="col-md-4 mt-5">   
                <div class="card shadow-lg h-100">
                    <img src="<%= item.image.url %>" height="280px"  alt=""> 
                    <div class="card-body">
                    <h3> <%= item.title %> </h3>
                    <p> <%= item.description.slice(0,100) %></p>
                    <p><span><%= item.createdAt.toLocaleDateString() %></span> </p>
                    
                    <a href="/details/<%= item._id %>" class="btn btn-danger">Read more...</a>
                </div><!--card end-->
            </div><!--card body-->
            </div>
            
            <% }) %>
         
        </div>
      </div>
    </section>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>
<%- include('./footer.ejs')  %>
