<%- include('./header.ejs')  %>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
      

    <title>Blog Detail</title>

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/styles.css" rel="stylesheet">
  </head>
  
    <section class="blog-detail mtb-40">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8">
    				<div class="blog-left">
                        <h1><%= d.title %></h1>
                        <div class="posted-on">
                            <p><span><%= d.createdAt.toLocaleDateString() %></span></p>
                        </div>
                        <div class="detail-img">
    					   <img src="<%= d.image.url %>" width="500px"  height="400px" alt="blog1" />
                        </div>
                        <div class="blog-desc">
        					<p><%= d.description %> </p>
                           
                        </div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="blog-right">
                        <div class="right-widget recent-post">
                            <h3>Recent Blogs</h3>
                            <a href="#">
                                <% r.forEach((recentitem)=>{ %>
                                <div class="rb-box">
                                    <div class="rb-box-img">
                                        <img src="<%= recentitem.image.url %>" alt="blog1" />
                                    </div>
                                    <div class="rb-box-desc">
                                        <h4><%= recentitem.title %></h4>
                                        <p><%= recentitem.createdAt.toLocaleDateString() %></p>
                                    </div>
                                </div>
                                <% }) %>
                            </a>
                     
                         
                         <div class="right-widget categories">
                             <h3>Categories</h3>
                             <% c.forEach((categoryitem)=>{ %>
                             <ul>
                                <li><a href="/bloglist/<%= categoryitem.name %>"><%= categoryitem.name %></a></li> 
                                
                            </ul>
                            <% }) %>
                        
                         </div>
                         
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <%- include('./footer.ejs')  %>
    

  
