<%- include('./header.ejs') %>
    <section class="banner">
        <div class="banner-box">
            <img src="assets/images/blog4.jpg" alt="banner" />
        </div>
    </section>
    <section class="featured-blog mtb-40">
        <div class="container">
            <div class="row">

                <% b.forEach((item)=>{ %>

                    <div class="col-md-4 mt-5">
                        <div class="card shadow-lg h-100">
                            <img src="<%= item.image.url %>" height="280px" alt="">
                            <div class="card-body">
                                <h3>
                                    <%= item.title %>
                                </h3>
                                <p>
                                    <%= item.description.slice(0,100) %>
                                </p>
                                <p><span>
                                        <%= item.createdAt.toLocaleDateString() %>
                                    </span> </p>

                                <a href="/details/<%= item._id %>" class="btn btn-danger">Read more...</a>
                            </div><!--card-body end-->
                        </div><!--card end-->
                    </div>

                    <% }) %>

            </div><!--row end-->
        </div><!--container end-->
        </div>
        <br>
        <center>
            <a href="/blog" class="btn btn-dark rounded-0">View More</a>
        </center>
    </section>


    <%- include('./footer.ejs') %>