<%- include('../../header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                   <%- include('./sidbar.js') %>  
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>View</h1>
                            </div>
                            <div class="dash-nav">
                                <a href="blog-form.html"></a>
                                
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>#ID</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                
                                
                            </tr>
                            
                                <tr>
                                    <td><%= view._id %></td>
                                    <td><img src="<%= view.image.url%>" width="50px" alt=""></td>
                                    <td><%= view.title %></td>
                                    <td><%= view.description %></td>
                                    
                                   
                                </tr>
                            
                           
                           
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>




<%- include('../../footer.ejs') %>
